<div>
    <div class="columns is-desktop is-vcentered">
        <h4 class ="title is-4" style="color:green"><i class="fas fa-check" style="color:green"></i> <br>Thank you for your purchasing
        </h4>
    </div>
</div>