<div>
  <main>
   <div>
            <div>
                <h4 class ="title is-4" style="color:green"> Thank you for your purchasing
                </h4>
            </div>
    </div>
  </main>
</div>