<div class='container'>
<h1 class = 'title is-1'>Categories</h1>
<%= paginate @categories %> </br >
<br>
<% @categories.each do |category| %>
      <br>
<div class="card">
  <div class="card-content">
    <div class="content has-text-centered">
      <p><%= link_to category.name, category %></p>
      <br>
    </div>
  </div>
</div>
<% end %>
</div>

