  <div class="column is-12-mobile is-6-tablet is-2-desktop">
     <div class="card is-shadowless is-slightly-rounded">
        <% if product.product_image.present?%>
            <div>
                <%= image_tag product.product_image , style:"height: 100; width: 100;"%>
            </div>
          <%end%>
          <div class="card-content" >
      <p class="title is-5"><%= product.name%></p>
          </div>
          <a><%= link_to 'add to cart', add_to_cart_path(product.id),method: :post%></a>
          <a><%= link_to 'vew_details', show_path(product.id)%></a>
        </div>

    </div>
