<div class="container">
   <% flash.each do |name, message| %>
 <div class=”alert alert-<%= name %> alert-dismissible” role=”alert”>
 <button type=”button” class=”close” data-dismiss=”alert” aria-label=”Close”><span aria-hidden=”true”>&times;</span></button>
 <%= message %>
 </div>
 <% end %>
<h1 class = 'title is-1'>All products</h1>
<%= paginate @categories %> </br >
<div class="columns is-multiline">
<br>
<% @categories.each do |category| %>
      <%= render category.products %>
<% end %>
</div>
</div>